HTTP Proxy

I'm trying to run `atomic run cockpit/ws` on the latest CentOS Atomic. 
I've configured the docker daemon to use an HTTP proxy via systemd drop in, as well as the rpm-ostree daemon but I cannot work out how to get the atomic command to pull images via the proxy. Maybe this could be documented somewhere?

Manually running "docker pull cockpit/ws" and then `atomic run cockpit/ws` is a workaround for now.



@baude @runcom is this fixed by moving to skopeo for the pulls?

It should with skopeo 

@bpbp-boop can you tell me how I can replicate your setup?  Id like to follow through on your issue.

Hi @baude - nothing complex, I was evaluating atomic in an environment where I received a private address via DHCP. I tried the following ways to configure a proxy:

* `export http_proxy="http://myproxy.com:3128` - didn't work
* configuring `/etc/ostree/remotes.d/centos-atomic-host.conf` and `/etc/systemd/system/docker.service.d/http-proxy.conf` - this worked for rpm-ostree and docker but I wasn't sure about the `atomic` command.

@bpbp-boop well the more specific you can be about your proxy setup, the more closely I can replicate your environment and possibly provide a fix/investigate.

It's a squid proxy to allow hosts on private address ranges access to the internet. It's configured to not use a cache and proxies requests from private ranges to the wider internet. Here's the config:
```
# Example rule allowing access from your local networks.
# Adapt to list your (internal) IP networks from where browsing
# should be allowed
acl localnet src 10.0.0.0/8     # RFC1918 possible internal network
acl localnet src 172.16.0.0/12  # RFC1918 possible internal network
acl localnet src 192.168.0.0/16 # RFC1918 possible internal network
acl localnet src fc00::/7       # RFC 4193 local private network range
acl localnet src fe80::/10      # RFC 4291 link-local (directly plugged) machines

acl SSL_ports port 443
acl Safe_ports port 80          # http
acl Safe_ports port 443         # https
acl PUT method PUT
acl POST method POST
acl DELETE method DELETE
acl OPTIONS method OPTIONS
acl CONNECT method CONNECT

#
# Recommended minimum Access Permission configuration:
#
# Deny requests to certain unsafe ports
http_access deny !Safe_ports

# Deny CONNECT to other than secure SSL ports
http_access deny CONNECT !SSL_ports

# allow put/post etc
http_access allow PUT
http_access allow POST
http_access allow OPTIONS
http_access allow DELETE

# Only allow cachemgr access from localhost
http_access allow localhost manager 
http_access deny manager

# We strongly recommend the following be uncommented to protect innocent
# web applications running on the proxy server who think the only
# one who can access services on "localhost" is a local user
#http_access deny to_localhost

#
# INSERT YOUR OWN RULE(S) HERE TO ALLOW ACCESS FROM YOUR CLIENTS
#

# Example rule allowing access from your local networks.
# Adapt localnet in the ACL section to list your (internal) IP networks
# from where browsing should be allowed
http_access allow localnet
http_access allow localhost

# And finally deny all other access to this proxy
http_access deny all

# Squid normally listens to port 3128
#http_port 3128
http_port 0.0.0.0:3128
http_port [::]:3128
# Uncomment and adjust the following to add a disk cache directory.
#cache_dir ufs /var/spool/squid 100 16 256

# Leave coredumps in the first cache dir
coredump_dir /var/spool/squid

# No cache
cache deny all

#
# Add any of your own refresh_pattern entries above these.
#
refresh_pattern .               0       20%     4320
```

To replicate my environment 
* atomic host with a private IP address without access to the internet
* some host running squid with a public IP address configured to proxy requests from the private range the atomic host is on

On the atomic host configure `/etc/ostree/remotes.d/centos-atomic-host.conf`:
```
[remote "centos-atomic-host"]
url=http://mirror.centos.org/centos/7/atomic/x86_64/repo
branches=centos-atomic-host/7/x86_64/standard;
gpg-verify=true
proxy=http://your_proxy:3128
```

and docker `/etc/systemd/system/docker.service.d/http-proxy.conf`:
```
[Service]
Environment="HTTP_PROXY=http://your_proxy:3128"
Environment="HTTPS_PROXY=http://your_proxy:3128"
```

On a fresh install `atomic run cockpit/ws` will time out and not be able to pull the needed containers. Running `docker pull cockpit/ws` will pull the containers via the proxy and after that `atomic run cockpit/ws` will work.



If the pull code in atomic is using skopeo we had a bug around proxies which we fixed (~1 month ago). Not sure the fix made into centos atomic though. 

@bpbp-boop can you try the upstream master of atomic now? it should be handling proxies.

Closing, feel free to re open if it doesnt work for you